<div class="col2">
    <ul>
        <li>@Html.ActionLink("Introduction", "Intro","Calculate")</li>
        <li>@Html.ActionLink("E-N Conversion", "Index","EN")</li>
        <li>@Html.ActionLink("X-Y Conversion", "Index","XY")</li>
    </ul>
</div>