<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cloudcord.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-db3-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cloudcord</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$cloudcord</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:br2qi1z1c0.database.windows.net,1433;Initial Catalog=cloudcoAk2FffCGP;User ID=vviduka@br2qi1z1c0;Password=Iamtheone0" Name="Data Source=tcp:br2qi1z1c0.database.windows.net,1433;Initial Catalog=cloudcoAk2FffCGP;User Id=vviduka@br2qi1z1c0;Password=Iamtheone0" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CloudCord.Models.CloudCord_DB, CloudCord" MigrationConfiguration="CloudCord.Migrations.Configuration, CloudCord" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:br2qi1z1c0.database.windows.net,1433;Initial Catalog=cloudcoAk2FffCGP;User Id=vviduka@br2qi1z1c0;Password=Iamtheone0</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>