<form method ="get" action="@Url.Action("Index")" data-cc-ajax="true" data-cc-target="#calculationList">
    <input type ="search" name="searchTag" />
    <input type="submit" value="Search by Tag:" />
</form>